<tbody class="games-table">
  <tr>
    <th>GameID</th>
    <th>Week</th>
    <th>Away Team</th>
    <th>Home Team</th>
    <th>Predicted Winner</th>
  </tr>
  {{#each games as |game|}}
    <tr>
      <td>{{game.id}}</td>
      <td>{{game.week_num}}</td>
      <td><button data-id={{game.away_team}} class="btn btn-default away-team">{{game.away_team}}</button></td>
      <td><button data-id={{game.home_team}} class="btn btn-default home-team">{{game.home_team}}</button></td>
      <td >
        <form class="pick">
          <input type="text" placeholder="{{game.home_team}}" name="pick[winning_team]">
          <input type="text" name="pick[game_id]" value="{{game.id}}">
          <button type="submit" class="btn btn-default create-pick-btn">Create Pick</button>
        </form>
      </td>
    </tr>
  {{/each}}
</tbody>
