<tbody class="games-table">
  <tr>
    <th>GameID</th>
    <th>Week</th>
    <th>Away Team</th>
    <th>Home Team</th>
    <th>Predicted Winner</th>
  </tr>
  {{#each games as |game|}}
    <tr>
      <td>{{game.id}}</td>
      <td>{{game.week_num}}</td>
      <!--<button data-id={game.away_team} class="btn btn-default away-team">{game.away_team}</button> used to go in the next td.  Use for next version in place of input and create button. -->
      <td>{{game.away_team}}</td>
      <td>{{game.home_team}}</td>
      <td >
        <form class="pick">
          <input type="text" placeholder="{{game.home_team}}" name="pick[winning_team]">
          <input type="hidden" class="hidden-game-id" name="pick[game_id]" value="{{game.id}}">
          <button type="submit" class="btn btn-success create-pick-btn">Create Pick</button>
        </form>
      </td>
    </tr>
  {{/each}}
</tbody>
