<tbody>
  <tr>
    <th>Game</th>
    <th>Away Team</th>
    <th>Home Team</th>
    <th>Predicted Winner</th>
    <th>Actual Winner</th>
    <th>Update Picks</th>
    <th>Delete Picks</th>
  </tr>
  {{#each picks as |pick|}}
    <form>
      <tr>
        <td>{{pick.game.id}}</td>
        <td>{{pick.game.away_team}}</td>
        <td>{{pick.game.home_team}}</td>
        <td><input value="{{pick.winning_team}}"></td>
        <td>{{pick.game.winning_team}}</td>
        <td><button type="submit" class="btn btn-default user-update-pick">Update</button></td>
        <td><button type="submit" class="btn btn-default user-delete-pick">Delete</button></td>
      </tr>
    </form>
  {{/each}}
</tbody>
